

<img src="https://i.imgur.com/TaXRGim.png" alt="Festival Food" id="app-image" style="width: 100%; height: auto; display: block; margin: auto;">
<h1 class="centered-text">Login</h1>


<br>
<!-- <button (click)="logIn()" class="login-button">Login</button> -->

<div class="login-container">

<br>


    <button id="guest-login-button" class="guest-login-button">Order as guest</button>  <br>
    <p class="deliveryLoginMessage">Order food as a guest or login to deliver.</p> <br>
    <hr width="80%"><br>
    <label class="login-input-title" for="username">Email Address</label>    <br> <br>
    <input 
    type="email" id="username"  
    placeholder="Enter your email..."
    [(ngModel)]="email" />
    <label class="login-input-title" for="password">Password</label> <br> <br>
<input 
    type="password"
    placeholder="Enter your password.."
    [(ngModel)]="password" /><br>
    <p *ngIf="error">{{ error }}</p>   <br>
    <button (click)="logIn()" class="delivery-login-button" type="submit">Delivery login</button>
    <br>
    <a class="login-page-blue-link" routerLink="/create-account">Don't have an account? Create one</a>






    <br><br> <br> <br> <br> <br> <br> <br>


    
</div>
