/* You can add global styles to this file, and also import other style files */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  
  
  header {
    background-color: #f1f1f1;
    padding: 60px; 
    text-align: center;
    border-radius: 30px; 
  }
  
  
  
  #menu {
    margin-top: 90px; 
    text-align: center;
  }
  
  #order-form {
    margin-top: 90px; 
    text-align: center;
  }
  
  #notification {
    margin-top: 90px; 
    text-align: center;
  
  }
  
  #app-image {
    max-width: 290%; 
    margin-top: -60px; 
    display: block;  
    margin-left: -30px; 
  }
  
  
  
  
  input[type="checkbox"] {
    transform: scale(1.5); 
  }
  
  
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 900px; 
    margin: 0 auto;
  }
  
  label {
    margin-top: 30px; 
    font-weight: bold;
  }
  
  select,
  input[type="text"],
  input[type="number"] {
    padding: 24px;
    font-size: 42px; 
  }
  
  #status {
    font-weight: bold;
    color: #c0392b;
  }
  
  
  .food-item-wrapper {
    margin: 75px;
    border-radius: 30px;
    background-color: #f1f1f1;
    padding: 30px;
    position: relative;
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }
  
  .food-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-bottom: 30px;
  }
  
  .food-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
  }
  
  .food-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    text-align: left;  
  }
  
  
  .food-name {
    font-weight: bold;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 48px;
   
  }
  
  .food-image {
    max-width: 300px;
    margin-right: 60px;
    height: auto;
    border-radius: 30px;
    align-self: center; 
  }
  
  .price {
    font-size: 54px;
    color: darkgreen;
    
    margin-top: 5px;
  }
  
  .main-title {   
    text-align: center;
    font-size: 48px;
    color: #333;
    margin-bottom: -30px;
  }
  
  
  .main-text {   
    text-align: center;
    font-size: 32px; 
  }
  
  .extra-text {
    font-size: 42px; 
  }
  
  
  
  #bh-image {
    width: 40%; 
    margin-top: -30px;
  }
  
  
  
  .terms-container {
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: darkgrey;
  }
  
  .terms {
    max-height: 80px;
    overflow: hidden;
  }
  
  .show-terms {
    color: rgb(108, 167, 187);
    cursor: pointer;
  }
  

  
  .login-button {
    border: none;
    border-radius: 50px;
    padding: 12px 80px;
    font-size: 24px;
    background-color: #5a9fc1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .pill-button {
    border: none;
    border-radius: 50px;
    padding: 12px 80px; 
    font-size: 24px;
    background-color: #5a9fc1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    width: 100%;  
  }
 
  
  .pill-button:hover {
    background-color: rgb(151, 212, 233);
    color: white;
  }

  .pill-button-green {
    border: none;
    border-radius: 50px;
    padding: 12px 80px; 
    font-size: 24px;
    background-color: #9FC34D;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    width: 100%;  
  }
 
  
  .pill-button-green:hover {
    background-color: #abc56d;
    color: white;
  }
  
  .pill-button-delivery-toggle {
    border: none;
    border-radius: 50px;
    padding: 12px 80px; 
    font-size: 24px;
    background-color: #ff8383;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
    width: 100%;  
  }

  .pill-button-delivery-toggle:hover {
    background-color: #d46b6b;
    color: white;
  }
  
 
  
  
  .login-button:hover {
    background-color: rgb(151, 212, 233);
    color: white;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
    }
  
 
  
  .centered-text {
    text-align: center;
  }
  
  
  
  hr {
    
    margin: 0 auto;
    border: 1px solid rgb(214, 214, 214);
  }
  
  
  
  
  
  .guest-login-button:hover {
    background-color: rgb(147, 233, 183);
    color: #0b1106bb;
  
  }
  
  
